/*
.buttonIncluir {
    text-align: right;
}

.btn {
    border: none;
    padding: 5px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
}

.btn-blue {
    background-color: #1c1c65;
    color: #F3F3F3;
    border: 2px solid #1c1c65;
}

.btn-blue:hover {
    color: #1c1c65;
    background-color: #F3F3F3;
}

.btn-shadow {
    box-shadow: 0 9px 15px 0 rgba(0, 0, 0, 0.2), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
}

.buttonPaginar {
    text-align: center;
    width: 100%;
    height: 0px;
}

.cnst-Prof-btnPag {
    border: none;
    padding: 5px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
}

.cnst-Prof-btn-disabled {
    opacity: 0.6;
    cursor: not-allowed;
}

.cnst-Prof-btnPosicion {
    top: 320px;
    width: 100%;
    position: absolute;
}*/

.buscaProfessor {
    width: 1000px;
    text-align: left;
    position: relative;
}

@media screen and (max-width: 896px) {
    .btnPosicion {
        top: 480px;
        width: 100%;
        position: absolute;
    }
}